@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Orbitron", cursive ;
}
/*-------------------------- */
/* --------Navbar---------- */
/* ----------------------- */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 7rem 2rem 5.5rem;
}
.navbar-container img{
    margin-right: -8rem;  
    height:45px;
}
.list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 170%;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.list .list-item:nth-child(1){
    text-decoration: underline;
    font-weight: 1000;
    font-size: 1.5rem;
}
.button-group{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-button{
    font-family: "Poppins", cursive;
    color: #000000;
    background-color: transparent;
    padding: 6px 40px;
    border-radius: 15px;
    font-size: 20px;
    border: 3px solid #0d0d0d;
    cursor: pointer;
}
/* ---------------------------- */
/* ----Hero Banner Section---- */
/* -------------------------- */
.hero-container{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-left: 90px;
}
.square{
    position: absolute;
    left: 120px;
    top: 46%;
    z-index: -1;
}
.square img{
    width: 300px;
}
.star-one{
    position: absolute;
    top:3%;
    right: 8%;
}
.star-one img{
    width:60px;
}
.star-two{
    position: absolute;
    left: 35%;
    bottom: 5%
}
.star-two img{
    width:40px;
}
.globe{
    position: absolute;
    top: 0%;
    left: 45%;
}
.globe img{
    width:60px;
}
/* ------------------------------ */
/*----- hero-container-right---- */
/* ---------------------------- */
.hero-container-right{
    text-align: center;
    margin-left: 100px;
}
.hero-heading{
    font-size: 4.2rem;
    margin-top: 90px;
}
.hero-description{
    font-family: "Poppins", cursive;
    max-width: 700px;
    margin: 30px 0px 80px 90px;
    font-size: 15px;
}
.button-email{
    background-color: transparent;
    color:#515151;
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.button-join{
    background-color: #0B0C0E;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 5px 5px;
    font-size: 18px;
    cursor: pointer;
}
.contact-heading{
    font-family: "Poppins", cursive;
    font-size: 20px;
    font-weight: 500;
    margin: 80px 0px 10px 0px;
    color: #515151;
}
.icons img{
    height: 30px;
}
.icons{
    cursor: pointer;
}